

.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10%;
  background: 	#424240;
  color: white;
}

p {
  margin: 0%;
}

img {
  width: 100%;
  height: 100%;
}

.row {
  width: 80%;
  display: flex;
  margin: 0% 10%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  width: 33.33333%;
  height: 29.62%;
  margin: 3% 5% 3% 5%;
  opacity: 100%;
  border-width: 0px;
  background-color: white;
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
}

.column:hover {
  background: #20dce3;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */  
  text-align: center;
  width: 80%;
  height: 80%;  
}
.Th_Team_name {
  text-align: left;
  padding-left: 50px;
}

.GroupName {
  background: cyan;
  
}

.TableCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 80%; 
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  margin-left: auto;
  margin-right: auto;
}

.container {
  align-content: center;  
  width: 80%;
  height: 80%; 
}

.Loading {
  height: 100vh;
  width: 100vw;
  margin: 0%;
  background: #20dce3;
}

.Home {
  width: 100vw;
  height: 100vh;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.ImgLogo {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  margin-top: auto;
}

.TeamClass{
  display: flex;
  width: 250px;
}

table {
  table-layout: auto;
  border-collapse: collapse;  
}

td {
  font-size: 2.5vmin;
}

th {
  font-size: 2.5vmin;
}

.PointsTablePage {
  /* background: url("/logos/laliga-logo.png");
  background-size: 100% 100%;
  width: 100%;
  height: 80%; */
  /* transform:scale(0.8, 0.8); */
  /* margin-top: 7%; */
  /* margin-bottom: -50px; */
}


.Table {
  width: 60%;
  margin: auto;    
  }

  /* @media (max-width: 600px) {
    body {
      font-size: 10px;
    }
  } */

/* Loading animation */

@import url(https://fonts.googleapis.com/css?family=Raleway:400,800,200);

#loader-container {
  background-color: #20dce3;
  width: 200px;
  height: 200px;
  color: white;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  border: 5px solid #20dce3;
  border-radius: 50%;
  -webkit-animation: borderScale 1s infinite ease-in-out;
  animation: borderScale 1s infinite ease-in-out;
}

#loadingText {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 2em;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

@-webkit-keyframes borderScale {
  0% {
    border: 5px solid white;
  }
  50% {
    border: 25px solid #20dce3;
  }
  100% {
    border: 5px solid white;
  }
}

@keyframes borderScale {
  0% {
    border: 5px solid white;
  }
  50% {
    border: 25px solid #20dce3;
  }
  100% {
    border: 5px solid white;
  }
}